<p>Welcome to profile page</p>


<style>
.profile {
    box-shadow: 0px 0px 3px #ccc;
    padding: 30px;
    padding-top: 50px;
}
.profile h3 {
    margin: 0;
     font-size: 26px;
       color: #fff;
}
header {
    background-color: #726fcb;  
    padding: 10px;
    text-transform: capitalize;    
           display: flex;;
    align-items: center;
    justify-content: space-between;
       border-radius: 4px;
   
}
.profile-dropdown {
    position: relative;
  top: 5px;
    right: 9px;
}
.profile-dropdown span {
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    font-size: 24px;
    padding: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-dropdown ul{
    display:none;
}

.profile-dropdown:hover ul {
    display: block;
    position: absolute;
    z-index: 3;
    top: 25px;
    background-color: #f9f9f9;
    width: 140px;
    right: 0;
    line-height: 36px;
    padding: 10px;
    border-radius: 4px;
}
.saved-places-wrapper {
    padding-bottom: 20px;
}
.place-container {
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 15px;
}
.place-container img {
   width: 135px;
    height: 95px;
    margin-right: 30px;
}
.place-details {
    flex: auto;
}

</style>
<div class="profile">
    <header>
        <h3>{{firstName}} {{lastName}}'s Profile</h3>

        <div class="profile-dropdown">
            <span>P</span>
            <ul>
                <li><a href="/profile">My profile</a></li>
                <li><a href="/updateProfile">Edit profile</a></li>
                <li><a href="/reset">Change Password</a></li>
                 <li><a href="/logout">Logout</a></li>

                </ul>
        </div>
    </header>

    <main>
{{#if firstName}}
    <div>
        
           
            <p><strong>First Name:</strong> {{firstName}}</p>
            <p><strong>Last Name:</strong> {{lastName}}</p>
            <p><strong>Email:</strong> {{email}}</p>
            <p><strong>Bio:</strong> {{#if bio}}{{bio}}{{else}}No bio provided.{{/if}}</p>
            <p><strong>Interests:</strong> {{#if interests}}{{interests}}{{else}}No interests provided.{{/if}}</p>
            <p><strong>Saved Places:</strong> 
            {{#if savedPlaces}}
                {{#each savedPlaces}}
                <div class="saved-places-wrapper">
    <div class="place-container">
      <div class="place-icon">
        <img src="{{#if icon_photo}}{{icon_photo}}{{else}}/path/to/default/image.jpg{{/if}}" alt="Place Icon" class="place-image" />
      </div>
      <div class="place-details">
        <h3 class="place-name">
          <a href="{{website}}" target="_blank">{{placeName}}</a>
        </h3>
        <p class="place-address">
          <a href="{{url}}" target="_blank">{{address}}</a>
        </p>
        <p class="place-rating"><strong>Rating:</strong> {{#if google_rating}}{{google_rating}}{{else}}Not rated yet{{/if}} / 5</p>
      
        

      </div>
      <div class="like-btn">
       
      <button class="like-btn" data-place-id="{{_id}}" onclick="toggleLike('{{_id}}')">
        Remove from saved places
      </button>
      </div>
    </div>
    </div>
  {{/each}}
            {{else}}
                No saved places provided.
            {{/if}}
            </p>

    </div>
{{else}}
    <p>No user data available.</p>
{{/if}}


    </main>
</div>


<script>
  function toggleLike(placeId) {
  const likeButton = document.querySelector(`[data-place-id="${placeId}"]`);
  const isLiked = false;

  likeButton.textContent = isLiked ? "Like" : "Liked";

console.log()

  fetch('/places/toggleLike', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      placeId: placeId,
      liked: false,
    }),
  })
  .then(response => response.json())
  .then(data => {
    if (!data.success) {
      alert('Error saving like status');
    } else {
         window.location.reload(); 
    }

  });
}
</script>