<p>Welcome to profile page</p>


<style>
.profile {
    box-shadow: 0px 0px 3px #ccc;
    padding: 30px;
}
.profile h3 {
    margin: 0;
     font-size: 26px;
       color: #fff;
}
header {
    background-color: #726fcb;  
    padding: 10px;
    text-transform: capitalize;    
           display: flex;;
    align-items: center;
    justify-content: space-between;
       border-radius: 4px;
   
}
.profile-dropdown {
    position: relative;
  top: 5px;
    right: 9px;
}
.profile-dropdown span {
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    font-size: 24px;
    padding: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-dropdown ul{
    display:none;
}

.profile-dropdown:hover ul {
    display: block;
    position: absolute;
    z-index: 3;
    top: 25px;
    background-color: #f9f9f9;
    width: 140px;
    right: 0;
    line-height: 36px;
    padding: 10px;
    border-radius: 4px;
}
</style>
<div class="profile">
    <header>
        <h3>{{firstName}} {{lastName}}'s Profile</h3>

        <div class="profile-dropdown">
            <span>P</span>
            <ul>
                <li><a href="/profile">My profile</a></li>
                <li><a href="/updateProfile">Edit profile</a></li>
                <li><a href="/reset">Change Password</a></li>
                 <li><a href="/logout">Logout</a></li>

                </ul>
        </div>
    </header>

    <main>
{{#if firstName}}
    <div>
        
        
        {{#if profilePic}}
            <img src="{{profilePic}}" alt="Profile Picture" style="max-width: 150px; max-height: 150px;" />
        {{else}}
            <p>No profile picture uploaded.</p>
        {{/if}}

        
            <p><strong>First Name:</strong> {{firstName}}</p>
            <p><strong>Last Name:</strong> {{lastName}}</p>
            <p><strong>Email:</strong> {{email}}</p>
            <p><strong>Bio:</strong> {{#if bio}}{{bio}}{{else}}No bio provided.{{/if}}</p>
            <p><strong>Interests:</strong> {{#if interests}}{{interests}}{{else}}No interests provided.{{/if}}</p>
        
    </div>
{{else}}
    <p>No user data available.</p>
{{/if}}

<div class="card-footer text-center">
        <div class="small">
            <a href="/moods/moodpage">Back to application</a><br>
        </div>
    </div>

    </main>
</div>
